*{
   
   margin:0;
   padding:0;
   box-sizing:border-box;
}
.header{
    width: 95%;
    
    margin:auto;
    margin-top: 30px;
    border:2px solid black;
}
.box1{
    height: 140px;
    background-color: white;
    width: 10%;
    margin:auto;
}
#avata{
    
    height:140px;
    margin-left: 5px;
    margin-top:10px;    

}
.box2{
    margin-top :50px;
}
.box3{
    font-size: 30px;
    font-weight: 400;
    margin-top: 100px;
}
.box4{
    margin-top: 10px;
}
.box5{
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}
.box6{
    font-size: 30px;
    font-weight: 400;
    margin-top: 100px;
}
.box7{
    font-size: 30px;
    font-weight: 400;
    margin-top: 70px;
}
.box8{
    margin-top: 10px;
}
.box9{
    font-size: 30px;
    font-weight: 400;
    margin: 40px 30px 30px 30px;
}